body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.title {
    color: #88b237;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 20px;
    font-weight: 300;   
}
.content_body{
    margin-top: 5%;  
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 14px;
    font-weight: 300; 
}