body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.pagination_aboutccn {
    position: absolute;
    z-index: 20;
    left: 40%;
    bottom: -15px;
}
.swiper-container-aboutccn {
	width: 100%;
	height: 320px;
    overflow-y: scroll;
}