body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.label_change{
    display:inline-block; 
    line-height:50%;
    color: #ffffff;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 20px;
    font-weight: 300;
    margin-left: 10%;
    float:left;
}
.label_select2{
    margin-left: 10%; 
    color: #48601e; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 14px; 
    font-weight: 300; 
    text-align: left;
    float: left;
    clear: left; 
}
.label_enter{
    color: #ffffff;
    font-family: 'Segoe UI Regular','Segoe UI';
    font-size: 16px;
    margin-left: 10%;
    display:inline-block; 
    line-height:50%;
}