body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.ccn_bg{
    background-image: url(../images/bg_ccn.png) !important;
    height: 1000px;
}
.header_bg{
    background-color: #88B237 !important;
}
.header_text{
    color: #ffffff;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 28px;
    font-weight: 300;
    float: right;
    margin-right: 10%;
}
.setting_item_bg{
    text-decoration: none; cursor: pointer; color: #88b237 !important; 
    font-family: 'Raleway Regular','Raleway'; font-size: 20px; text-align: left;
}
.setting_item_bg:hover{
    text-decoration: none; cursor: pointer; color: #88b237 !important; 
    background-color: #5F5F5F !important;
    font-family: 'Raleway Regular','Raleway'; font-size: 20px; text-align: left;
}
.img_home{
    float: left;
	margin-left: 1%;
	margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}
.img_setting{
    float: right; 
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}
.label_title_page{
    color: #74972f;
    font-family: 'Segoe UI Regular','Segoe UI';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.titleDiv{
    background-color: #F2F2F2;
    height: 25px;
}
.a_href_home{
    color: #88B237 !important;
    margin-top: -2%;
    margin-left: -38%;
    height: 30px;
}
.setting_dialog{
    width: 70%; height: 30%;
}
.setting_signout_dialog{
    width: 70%; height: 30%;
}
.portrait {
    -webkit-transform: rotate(90deg);
}
.portrait-onready {
    -webkit-transform: rotate(90deg);
}