body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.his_awb_number{
    color: #515151;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    float: left;
    clear: left;
    margin-left: 2%;
}
.his_datetime{
    color: #515151;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 12px;
    font-weight: 300;
    line-height: 14px !important;
    text-align: right;
    margin-right: 2%;
    margin-top: 10px;
    cursor: pointer;
    float: right;
}
.label_his_history{
    color: #e4e4e4;
    font-family: 'Segoe UI Regular','Segoe UI';
    font-size: 14px;
    margin-left: 5%;
}
.label_his_drag_drop {
    color: #e4e4e4;
    font-family: 'Segoe UI Regular','Segoe UI';
    font-size: 14px;
    float: right;
    margin-right: 5%;
}
.his_div_header{
    background-color: #6B6B6B;
    display: inline-block;
    line-height: 170%;
    width: 100%;
}
.label_his_clear_history{
    color: #d7d7d7;
    font-family: 'Segoe UI Regular','Segoe UI';
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    margin-left: 37%;
    cursor: pointer;
}
.his_div_clear_history{
    background-color: #787878;
    display: inline-block;
    line-height: 200%;
    width: 100%;
    cursor: pointer;
}

.wrapper {
  height: 30px;
}
.item {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
}
.action {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #F1F1F1;
  text-align: center;
}
.centered {
  margin: auto;
  margin-top: 15px;
  text-align: center;
  color: gray;
}
.km-ios7 .km-list>li.collapsed {
  border: none;
  height: 0;
  padding: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.km-button.btn-archive {
  border: none;
  color: gray;
  background: #F1F1F1;
  margin-top: 5px;
  float: left;
  margin-left: 7%;  
}
.km-button.btn-undo {
  border: none;
  color: gray;
  background: #F1F1F1;
  margin-top: 5px;
  float: right;
  margin-right: 7%;  
}
.swipe_selected_row{
  background-color: #D6D9D9 !important;	    
}
.ui-dialog-history, .ui-dialog-content-history {
    background-color: #515151 !important;
    color: #FFFFFF;
    height: 40px !important;
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.9em;
    width: 282px !important;
    margin-top: -8px;
    margin-left: 9px;
    margin-right: 18px;
}
.dialogStyle .ui-dialog { 
    font-size: 62.5%; 
    background-color: #878787;
    color: #FFFFFF;
}   
.his_undo{
    float: right;
    margin-right: 5%;
    margin-top: 4%;
    font-family: 'Segoe UI Regular','Segoe UI';
    font-size: 14px;
    font-weight: bold;
    color: #FF0000;
    cursor: pointer;
}