body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.his_awb_number{
    color: #515151;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 20px;
    font-weight: 300;
    float: left;
    clear: left;
}
.his_datetime{
    color: #515151;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 12px;
    font-weight: 300;
    line-height: 14px !important;
    text-align: right;
    margin-left: 22%;
}
.label_his_history{
    color: #e4e4e4;
    font-family: 'Segoe UI Regular','Segoe UI';
    font-size: 14px;
    margin-left: 5%;
}
.his_div_header{
    background-color: #6B6B6B;
    display: inline-block;
    line-height: 170%;
    width: 100%;
}
.label_his_clear_history{
    color: #d7d7d7;
    font-family: 'Segoe UI Regular','Segoe UI';
    font-size: 18px;
    line-height: 13px;
    text-align: center;
    margin-left: 37%;
    cursor: pointer;
}
.his_div_clear_history{
    background-color: #787878;
    display: inline-block;
    line-height: 200%;
    width: 100%;
    cursor: pointer;
}

.wrapper {
  height: 30px;
}

.item {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.action {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #F1F1F1;
  text-align: center;
}

.centered {
  margin: auto;
  margin-top: 15px;
  text-align: center;
  color: gray;
}


.km-ios7 .km-list>li.collapsed {
  border: none;
  height: 0;
  padding: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.km-button.btn-archive {
  border: none;
  color: gray;
  background: #F1F1F1;
  margin-top: 5px;
}


