body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.div_content{
    background-color:#88B237 !important; 
}
.btn_signin{
    margin-top: 4%;
    border: none !important;
    display: inline-block;
    color: white !important;
    background-color: #48601E !important;
    line-height: 110%;
    width: 56%;
    text-align: center;
    float: left;
    margin-left: 22%;
    font-family: 'Segoe UI Regular','Segoe UI';
    font-size: 18px !important;
}
.label_underline{
    margin-top: 1%; 
    float: left; 
    margin-left: 22%; 
    cursor: pointer; 
    color: #48601e; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 16px; 
    font-weight: 300; 
    text-decoration:underline;
}
.textbox_bg{
    color: #88b237; 
    text-indent: 10px; 
    -webkit-border-radius: 17px; 
    border: none; 
    font-family: 'Segoe UI'; 
    font-size: 20px; 
    font-style: normal; 
    font-weight: normal; 
    height: 40px; 
    margin-left: 10%; 
    width: 80%;
}
.button_bg{
    margin-top: 2%; 
    border: none; 
    display:inline-block; 
    color: white; 
    background-color: #48601E; 
    line-height:110%; 
    width: 56%; 
    text-align: center; 
    float: left; 
    margin-left: 22%; 
    font-family: 'Segoe UI Regular','Segoe UI'; 
    font-size: 18px;
}
.setting_bg{
    width: 10%; 
    float: right; 
    margin-right: 2%; 
    margin-top: 1%; 
    cursor: pointer;
}
.label_eAWB{
    display: inline-block;
    line-height: 80%;
    margin-right: 10%;
    float: right;
    margin-top: 5%;
    color: #ffffff;
    font-family: 'Segoe Script Regular','Segoe Script';
    font-size: 48px;
}
.label_electronic{
	display: inline-block;
    line-height: 100%;
    margin-right: 15%;
    float: right;
    clear: right;
    color: #ffffff;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 28px;
    font-weight: 300;   
}
.label_power{
    font-family:'Segoe UI Light', 'Segoe UI';
    font-weight:300; 
    font-size:10px; 
    color: #48601e;    
}
.label_ccn{
	font-family:'Segoe UI Semibold', 'Segoe UI';
    font-weight:600;
    font-size:14px; 
    color: #48601e;    
}
.div_power_ccn{
    clear: right;
    float: right;
	margin-right: 23%;
}
.line_small_bg{
	background:#A6C46E; 
    border:0; 
    height:1px; 
	width: 100%;
    display: inline-block;
}
.line_bg{
	background:#5F5F5F; 
    border:0; 
    height:1px; 
    margin-left: -16px;
	width: 120%;
}
.line_bigger_bg{
	background:#5F5F5F; 
    border:0; 
    height:15px;
    margin-left: -16px;
    margin-bottom: -7px;
	width: 120%;
}
.label_select{
    margin-left: 10%; 
    color: #48601e; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 14px; 
    font-weight: 300; 
    text-align: center;
    float: left;
    margin-bottom: 1%;
    margin-top: 0%;
}
.div_uncheck{
	cursor: pointer; 
    float: left; 
    line-height:200%;
    margin-left: 10%; 
    background-image: url(images/bg_uncheck.png); 
    width: 116px;    
}
.div_checked{
    cursor: pointer; 
    float: right; 
    margin-right: 13%; 
    line-height:200%; 
    background-image: url(images/bg_checked.png); 
    width: 116px;
}
.label_linc{
    cursor: pointer; 
    margin-left: 2%; 
    color: #FFFFFF; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
    text-align: center;
}
.label_user{
    cursor: pointer; 
    margin-left: 2%; 
    color: #FFFFFF; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
    text-align: center;
}
.label_setting{
	color: #88b237;
    font-family: 'Raleway Regular','Raleway';
    font-size: 20px;
    text-align: left;    
}
.footer_bg{
    width: 100%; 
    margin-bottom: -1%; 
    background-size: cover;
}
.label_error{
    color: #990000;
    font-family: 'Arial Regular','Arial';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    text-align: center;    
    display:inline-block; 
    line-height: 200%; 
    padding-left: 2%; 
    -webkit-border-radius: 0px; 
    border-color: #CC3300; 
    background: #E7EFD8; 
    background-color: #E7EFD8; 
    margin-top: 0%; 
    border-style: solid; 
    border-width: 1px; 
    margin-left: 10%;
    margin-bottom: 1%;
    width: 89%;
}
.img_sad_icon{
    margin-left: -5%; 
    margin-bottom: -1%;
}
.img_line{
    margin-left: -2%; 
    margin-bottom: -4%;
}
.img_option{
    margin-left: -1%; 
    margin-bottom: -5%;
}
.img_signin{
    float: right;
	margin-top: -1%;
}
.img_signout{
    float: right;
	margin-top: -1%;
}
.div_linc{
    clear: left; cursor: pointer; float: left; margin-left: 10%; line-height:200%; 
    background-image: url(../images/bg_uncheck.png); width: 118px;
}
.div_linc_active{
    clear: left; cursor: pointer; float: left; line-height:200%; margin-left: 10%; 
    background-image: url(../images/bg_checked.png); width: 118px;
}
.div_user{
    cursor: pointer; float: right; margin-right: 10%; line-height:200%; 
    background-image: url(../images/bg_uncheck.png); width: 116px;
}
.div_user_active{
    cursor: pointer; float: right; margin-right: 10%; line-height:200%; 
    background-image: url(../images/bg_checked.png); width: 116px;
}