body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.enter_big{
    color: #949494;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 20px;
    font-weight: 300;
    float: left;
    clear: left;
    margin-left: 5%;
    display:inline-block; 
    line-height:170%; 
}
.enter_small{
    color: #949494;
    font-family: 'Segoe UI Light','Segoe UI';
    font-weight: 300;
    display:inline-block; 
    line-height:170%; 
    font-size: 13px;
    font-style: normal;
    clear: left;
    float: left;
    margin-left: 5%;
}
.bg_textbox_awb_prefix{
    color: #88b237;
    font-size: 20px;
    font-family: 'Segoe UI Light','Segoe UI';
    font-style: normal;
    font-weight: 300;
    opacity: 0.498039;
    text-align: left;   
    display:inline-block; 
    line-height: 180%; 
    padding-left: 2%; 
    -webkit-border-radius: 5px; 
    border-color: #88B237; 
    background: #FFFFFF; 
    background-color: #FFFFFF; 
    border-style: solid; 
    border-width: 1px; 
    color: #C9C9C9; 
    width: 15%; margin-left: 5%; color: #797979;
}
.bg_textbox_awb_suffix{
    color: #88b237;
    font-size: 20px;
    font-family: 'Segoe UI Light','Segoe UI';
    font-style: normal;
    font-weight: 300;
    opacity: 0.498039;
    text-align: left;   
    display:inline-block; 
    line-height: 180%; 
    padding-left: 2%; 
    -webkit-border-radius: 5px; 
    border-color: #88B237; 
    background: #FFFFFF; 
    background-color: #FFFFFF; 
    border-style: solid; 
    border-width: 1px; 
    color: #C9C9C9; 
    margin-left: 1%;
    width: 50%; color: #797979;
}
.img_query{
    margin-left: 1%;
    margin-bottom: -10px;
    cursor: pointer;
}
.div_query_awb{
    width: 100%; margin-top: 1%; float:left; clear:both;
}
.label_hor{
    color: #48601E;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-left: 1%;
}
.label_awb_error{
    color: #cc0000;
    font-family: 'Segoe UI Light','Segoe UI';
    font-weight: 300;
    font-style: normal;
    text-align: center;    
    display:inline-block; 
    line-height: 200%; 
    padding-left: 2%; 
    -webkit-border-radius: 0px; 
    border-color: #CC3300; 
    background: #E7EFD8; 
    background-color: #E7EFD8; 
    margin-top: 0%; 
    border-style: solid; 
    border-width: 1px; 
    margin-left: 7%;
    margin-bottom: 1%;
    width: 90%;
    margin-top: 0.5%;
}
.label_history{
    color: #88b237;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 20px;
    font-weight: 300;
    margin-left: -70%;
    float: left;
    margin-top: 6%;
    z-index: 99;
    position: absolute; 
}
.label_select_here{
    color: #949494;
    font-family: 'Segoe UI Light','Segoe UI';
    font-size: 12px;
    font-weight: 300;
    margin-left: 27%;
    float: left;
    margin-top: -12%;
    z-index: 99;
    position: absolute;  
}
.img_bg_history{
    margin-left: 5%;
    margin-top: 5%;
    width: 91%;
}