body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.label_underline{
    margin-top: 1%; 
    float: left; 
    margin-left: 22%; 
    cursor: pointer; 
    color: #48601e; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 16px; 
    font-weight: 300; 
    text-decoration:underline;
}
.textbox_bg{
    color: #88b237; 
    text-indent: 10px; 
    -webkit-border-radius: 17px; 
    border: none; 
    font-family: 'Segoe UI'; 
    font-size: 20px; 
    font-style: normal; 
    font-weight: normal; 
    height: 40px; 
    margin-left: 10%; 
    width: 80%;
}
.button_bg{
    margin-top: 2%; 
    border: none; 
    display:inline-block; 
    color: white; 
    background-color: #48601E; 
    line-height:110%; 
    width: 56%; 
    text-align: center; 
    float: left; 
    margin-left: 22%; 
    font-family: 'Segoe UI Regular','Segoe UI'; 
    font-size: 18px;
}
.setting_bg{
    width: 10%; 
    float: right; 
    margin-right: 2%; 
    margin-top: 1%; 
    cursor: pointer;
}
.label_eAWB{
    display:inline-block; 
    line-height:80%; 
    margin-left: 20%; 
    margin-top: 5%; 
    color: #ffffff; 
    font-family: 'Segoe Script Regular','Segoe Script'; 
    font-size: 48px;
}
.label_electronic{
	display:inline-block; 
    line-height:100%; 
    margin-left: 5%; 
    color: #ffffff; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 28px; 
    font-weight: 300;    
}
.label_power{
	margin-left: 52%; 
    font-family:'Segoe UI Light', 'Segoe UI';
    font-weight:300; 
    font-size:10px; 
    color: #48601e;    
}
.label_ccn{
	font-family:'Segoe UI Semibold', 'Segoe UI';
    font-weight:600;
    font-size:14px; 
    color: #48601e;    
}
.line_small_bg{
	background:#5F5F5F; 
    border:0; 
    height:1px; 
    margin-left: -16px;
	width: 120%;
}
.line_bg{
	background:#5F5F5F; 
    border:0; 
    height:1px; 
    margin-left: -16px;
	width: 120%;
}
.line_bigger_bg{
	background:#5F5F5F; 
    border:0; 
    height:15px;
    margin-left: -16px;
	width: 120%;
}
.label_select{
    margin-left: 10%; 
    color: #48601e; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 14px; 
    font-weight: 300; 
    text-align: center;
    float: left;
}
.div_uncheck{
	cursor: pointer; 
    float: left; 
    line-height:200%;
    margin-left: 10%; 
    background-image: url(styles/images/bg_uncheck.png); 
    width: 120px;    
}
.div_checked{
    cursor: pointer; 
    float: right; 
    margin-right: 13%; 
    line-height:200%; 
    background-image: url(styles/images/bg_checked.png); 
    width: 120px;
}
.label_linc{
    cursor: pointer; 
    margin-left: 5%; 
    color: #FFFFFF; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
    text-align: center;
}
.label_user{
    cursor: pointer; 
    margin-left: 5%; 
    color: #FFFFFF; 
    font-family: 'Segoe UI Light','Segoe UI'; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
    text-align: center;
}
.label_setting{
	color: #88b237;
    font-family: 'Raleway Regular','Raleway';
    font-size: 20px;
    text-align: left;    
}
.footer_bg{
    width: 100%; 
    margin-bottom: -1%; 
    background-size: cover;
}